
<section class="cart-header">
  <h2>Your Cart</h2>

</section>


<section class="cart-panel">

  <ul>

    <% subtotal = 0 %>

    <%= @lineitems.each do |item| %>

    <% product = Product.find_by(:id => item.product_id) %>

    <% subtotal += (item.cost)*item.quantity %>


    <li>

      <%= link_to "X", nil, class: "delete-line-item" %>

      <%= image_tag "products/#{product.picture}" %>

      <p class="item-name"><%= item.name %></p>

      <div class="item-data">

        <p class="item-qty">QNT: <%= item.quantity %></p>
        <br>
        <p class="item-price">$ <%= number_with_precision((item.cost)*item.quantity, :precision => 2) %></p>

      </div>

    </li>

   <% end %>

  </ul>

</section>

<section class="cart-total">


<h2>Total: $ <%= number_with_precision(subtotal, :precision => 2) %></h2>

<%= link_to "Proceed to Checkout", nil, class: "checkout" %>

<%= link_to "Continue Shopping", nil, class: "shopping" %>





</section>







