
<section class="cart-header">
  <h2>Your Cart</h2>

</section>


<section class="cart-panel">

  <ul>


    <li>

      <%= link_to "X", nil, class: "delete-line-item" %>

      <%= image_tag "http://www.placecage.com/c/200/200" %>

      <p class="item-name">Baconaise</p>

      <div class="item-data">

        <p class="item-qty">Qty: 2</p>
        <br>
        <p class="item-price">$100</p>

      </div>

    </li>
    <li>

      <%= link_to "X", nil, class: "delete-line-item" %>

      <%= image_tag "http://www.placecage.com/c/200/200" %>

      <p class="item-name">Baconaise</p>

      <div class="item-data">

        <p class="item-qty">Qty: 2</p>
        <br>
        <p class="item-price">$100</p>

      </div>

    </li>
    <li>

      <%= link_to "X", nil, class: "delete-line-item" %>

      <%= image_tag "http://www.placecage.com/c/200/200" %>

      <p class="item-name">Baconaise</p>

      <div class="item-data">

        <p class="item-qty">Qty: 2</p>
        <br>
        <p class="item-price">$100</p>

      </div>

    </li>
    <li>

      <%= link_to "X", nil, class: "delete-line-item" %>

      <%= image_tag "http://www.placecage.com/c/200/200" %>

      <p class="item-name">Baconaise</p>

      <div class="item-data">

        <p class="item-qty">Qty: 2</p>
        <br>
        <p class="item-price">$100</p>

      </div>

    </li>

  </ul>

</section>

<section class="cart-total">


<h2>Total: $200</h2>

<%= link_to "Proceed to Checkout", nil, class: "checkout" %>

<%= link_to "Continue Shopping", nil, class: "shopping" %>





</section>







