
<div class="container center-show-page">

      <p id="notice"><%= notice %></p>

      <%= image_tag("products/#{@product.picture}", class: "col4 product-display") %>


      <section class="col6 product-info">

          <h2 class="product-name-header"><%= @product.name %></h2>

          <p class="item-number">
            Item #: <%= @product.item_numer %>
          </p>

          <p class="product-description">
            <%= @product.description %>
          </p>

          <%= link_to "Add to Cart", nil, class: "add-to-cart-btn" %>

          <p class="product-cost">
            <%= @product.cost %>
          </p>

      </section>


      <section class="col2 cart-preview">

        <h3>Your Cart</h3>

          <ul>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
                <p>Baconaise</p>
                <p>$100</p>

            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <p>$100</p>
            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <p>$100</p>
            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <p>$100</p>
            </li>



          </ul>

        <strong>Subtotal: $1000</strong>

        <button>Checkout</button>


      </section>

    <%#= link_to 'Edit', edit_product_path(@product) %>
    <%#= link_to 'Back', products_path %>


</div>


