

      <p id="notice"><%= notice %></p>

      <%= image_tag("products/#{@product.picture}", class: "product-display") %>


      <section class="product-info">

          <h2 class="product-name-header"><%= @product.name %></h2>

          <p class="item-number">
            Item #: <%= @product.item_numer %>
          </p>

          <p class="product-description">
            <%= @product.description %>
          </p>

          <%= link_to "Add to Cart", nil, class: "add-to-cart-btn" %>

          <p class="product-cost">
            $ <%= number_with_precision(@product.cost, :precision => 2) %>
          </p>

      </section>


      <section class="cart-preview">

        <h3>Your Cart</h3>

          <ul>

            <% subtotal = 0 %>

            <%= @lineitems.each do |item| %>
            <% product = Product.find_by(:id => item.product_id) %>

            <% subtotal += (item.cost)*item.quantity %>
            <li>
                <%= image_tag "products/#{product.picture}" %>
                <p><%= item.name %></p>
                <b>$ <%= number_with_precision((item.cost)*item.quantity, :precision => 2) %></b>

            </li>

            <% end %>


          </ul>

        <strong>Subtotal: $ <%= number_with_precision(subtotal, :precision => 2) %></strong>

        <button class="btn-reverse">Checkout</button>


      </section>


      <section class="related-items">

        <h2>Related Items</h2>

        <% @relatedProducts.each do |product| %>

          <div class="product-tile">

          <%= image_tag("/assets/products/#{product.picture}", id: "#{product.id}") %>

          <h3><%= link_to product.name, product_url(product.id) %></h3>

          <p><%= number_with_precision(product.cost, :precision => 2) %> </p>

          <button data="<%= product.id %>">Add to cart</button>

      </div>

        <% end %>

      </section>

    <%#= link_to 'Edit', edit_product_path(@product) %>
    <%#= link_to 'Back', products_path %>





