
<section class="container">

  <p id="notice"><%= notice %></p>

  <%= image_tag("products/#{@product.picture}", class: "col4 product-display") %>


  <section class="col6 product-info">

      <strong>Name:</strong>
      <%= @product.name %>

      <strong>Cost:</strong>
      <%= @product.cost %>


      <strong>Item numer:</strong>
      <%= @product.item_numer %>


      <strong>Description:</strong>
      <%= @product.description %>

  </section>

  <%#= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>


</section>

