

      <p id="notice"><%= notice %></p>

      <%= image_tag("products/#{@product.picture}", class: "product-display") %>


      <section class="product-info">

          <h2 class="product-name-header"><%= @product.name %></h2>

          <p class="item-number">
            Item #: <%= @product.item_numer %>
          </p>

          <p class="product-description">
            <%= @product.description %>
          </p>

          <%= link_to "Add to Cart", nil, class: "add-to-cart-btn" %>

          <p class="product-cost">
            <%= @product.cost %>
          </p>

      </section>


      <section class="cart-preview">

        <h3>Your Cart</h3>

          <ul>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
                <p>Baconaise</p>
                <b>$100</b>

            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <b>$100</b>
            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <b>$100</b>
            </li>

            <li>
              <%= image_tag "products/#{@product.picture}" %>
              <p>Baconaise</p>
              <b>$100</b>
            </li>



          </ul>

        <strong>Subtotal: $1000</strong>

        <button>Checkout</button>


      </section>


      <section class="related-items">

        <h2>Related Items</h2>

        <% @relatedProducts.each do |product| %>

          <div class="product-tile">

          <%= image_tag("/assets/products/#{product.picture}", id: "#{product.id}") %>

          <h3><%= product.name %></h3>

          <p><%= product.cost %> </p>

          <button>Add to cart</button>

      </div>

        <% end %>

      </section>

    <%#= link_to 'Edit', edit_product_path(@product) %>
    <%#= link_to 'Back', products_path %>





